<div fxLayout="column" highlight="4-9">
    <div fxFlex="75px">
        <div fxLayout="row" style="height: 75px">
            <div fxFlex fxLayoutAlign="center center">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="商品名" value="">
                </mat-form-field>
            </div>
            <div fxFlex fxLayoutAlign="center center">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="賞品ID" value="">
                </mat-form-field>
            </div>
            <div fxFlex fxLayoutAlign="center center">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="サイズ" value="">
                </mat-form-field>
            </div>
            <div fxFlex fxFlexFill fxLayoutAlign="center center">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="価格" value="">
                </mat-form-field>
            </div>
            <div fxFlex fxLayoutAlign="center center">
                <mat-form-field>
                    <input matInput placeholder="備考" value="">
                </mat-form-field>
            </div>
            <div fxFlex fxFlexFill fxLayoutAlign="center center">
                <button mat-raised-button color="default" (click)="init()">
                    登録する
                </button>
            </div>
        </div>
    </div>
</div>
