<form [formGroup]="goods_form" (ngSubmit)="createGoods()">
    <div fxLayout="column" highlight="4-9">
        <div fxFlex="75px">
            <div fxLayout="row" style="height: 75px">
                <div fxFlex fxLayoutAlign="center center">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="賞品ID" value="A001" formControlName="goods_id">
                    </mat-form-field>
                </div>
                <div fxFlex fxLayoutAlign="center center">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="商品名" value="牛乳" formControlName="name">
                    </mat-form-field>
                </div>
                <div fxFlex fxLayoutAlign="center center">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="サイズ" value="255cm" formControlName="size">
                    </mat-form-field>
                </div>
                <div fxFlex fxFlexFill fxLayoutAlign="center center">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="価格" value="100" formControlName="amount">
                    </mat-form-field>
                </div>
                <div fxFlex fxLayoutAlign="center center">
                    <mat-form-field>
                        <input matInput placeholder="備考" value="ろくでなし" formControlName="note">
                    </mat-form-field>
                </div>
                <div fxFlex fxFlexFill fxLayoutAlign="center center">
                    <button mat-raised-button color="default" type="submit">
                        登録する
                    </button>
                </div>
            </div>
        </div>
    </div>
    <p>
        Form Value: {{ goods_form.value | json }}
    </p>
</form>