login...
    <input type="text" [formControl]="name">
    <button (click)="updateName()">Add</button>
<div fxLayout="column" highlight="4-9">
  <div fxFlex="50px" fxLayoutAlign="center center" style="background-color: violet">
    <input #newGoods (keyup.enter)="addHero(newGoods.value)" (blur)="addHero(newGoods.value); newGoods.value='a' ">
    <button (click)="addHero(goods_name.value)">Add</button>
  </div>
  <div fxFlex="75px">
    <div fxLayout="row" style="height: 75px">
      <div fxFlex fxFlexFill style="background-color: bisque" fxLayoutAlign="center center">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="商品名" value="gyunyu" [formControl]="goods_name">
        </mat-form-field>
      </div>
      <div fxFlex="20%" fxFlexFill style="background-color: darkgoldenrod" fxLayoutAlign="center center">
        <button mat-raised-button color="default" (click)="onSubmit()">
          get
        </button>
        <button mat-raised-button color="default" (click)="onPost(goods_name.value)" >
          post
        </button>
      </div>
    </div>
  </div>
</div>




<ul>
  <li *ngFor="let good of goods">{{good}}</li>
</ul>
<br><br><br><br>