login...
<div fxLayout="column" highlight="4-9">
  <div fxFlex="50px" style="background-color: blue; color: white" fxLayoutAlign="center center">column1</div>
  <div fxFlex="75px">
    <div fxLayout="row" style="height: 75px">
      <div fxFlex fxFlexFill style="background-color: bisque" fxLayoutAlign="center center">column2, row1</div>
      <div fxFlex="20%" fxFlexFill style="background-color: darkgoldenrod" fxLayoutAlign="center center">column2, row2</div>
    </div>
  </div>
</div>
<button mat-raised-button color="default" (click)="init()">
  検索する
</button>
<br><br><br><br>


